body {
  background-color: #e5e5e5;
}
h6 {
  font-weight: lighter;
  font-size: xx-small;
  color: lightgray;
  margin-top: 10px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: right;
}

.container {
  max-width: 97%;
}
.title-block {
  display: table;
  margin: 0 auto;
  color: black;
}
.title-block:hover {
  color: black;
  opacity: 70%;
  text-decoration: none;
  cursor: pointer;
}
.name {
  font-weight: lighter;
  font-size: 30px;
  margin-top: 5px;
}
.fire-pen {
  width: 300px;
}
.link {
  text-decoration: none;
  color: #5fa1d3;
}
