body {
  background-color: #e5e5e5;
  margin: 30px;
}
h6 {
  font-weight: lighter;
  font-size: xx-small;
  color: lightgray;
  margin-top: 10px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: right;
}

.title-block {
  text-align: center;
}
.title-block:hover {
  opacity: 70%;
}
.name {
  font-weight: lighter;
  font-size: 30px;
  margin-top: 5px;
}
.fire-pen {
  width: 300px;
}
.link {
  text-decoration: none;
  color: #5fa1d3;
}
