html {
  scroll-behavior: smooth;
}
body {
  background-color: #e5e5e5;
}

footer {
  max-width: 98%;
}
h6 {
  font-weight: lighter;
  font-size: xx-small;
  color: lightgray;
  margin-top: 10px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: right;
}

.container {
  max-width: 97%;
}
.title-block {
  display: table;
  margin: 0 auto;
  color: black;
}
.title-block:hover {
  color: black;
  opacity: 70%;
  text-decoration: none;
  cursor: pointer;
}
.about-contents {
  max-width: 80%;
  margin: 0 auto;
}
.name {
  font-weight: lighter;
  font-size: 30px;
  margin-top: 5px;
}
.contact-img {
  width: 100px;
}
.homepage-pens {
  width: 33%;
}
.button-link {
  color: black;
}
.button-link:hover {
  color: black;
  text-decoration: none;
}

.open-source-link {
  text-decoration: none;
  color: #5fa1d3;
}

@media (max-width: 1024px) {
  .about-contents {
    max-width: 95%;
  }
}
